.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-content {
  display: inline-block;
  width: 100%;
}

.url-input {
  display: block;
  width: 80%;
  max-width: 550px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #61DAFB;
}

.streamButton {
  display: block;
  margin: 10px auto;
  background-color: #61DAFB;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #61DAFB;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
